<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/checkbox.css">
</head>
<body>
<div class="checkbox-beauty-container">
  <span class="checkbox-name">苹果</span>
  <input type="checkbox" name="checkboxName" id="checkboxName1" />
  <label for="checkboxName1" class="checkbox-beauty"></label>

  <span class="checkbox-name">香蕉</span>
  <input type="checkbox" name="checkboxName" id="checkboxName2" />
  <label for="checkboxName2" class="checkbox-beauty"></label>

  <span class="checkbox-name">橘子</span>
  <input type="checkbox" name="checkboxName" id="checkboxName3" />
  <label for="checkboxName3" class="checkbox-beauty"></label>
</div>

<span class="wangyang">微微汪洋发发发</span>
</body>
</html>
