<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/radio.css">
</head>
<body>
<div class="radio-beauty-container">
  <label>
    <span class="radio-name">前端工程师</span>
    <input type="radio" name="radioname" id="radioName1" hidden/>
    <label for="radioName1" class="radio-beauty"></label>
  </label>
  <label>
    <span class="radio-name">后端工程师</span>
    <input type="radio" name="radioname" id="radioName2" hidden/>
    <label for="radioName2" class="radio-beauty"></label>
  </label>
  <label>
    <span class="radio-name">全栈工程师</span>
    <input type="radio" name="radioname" id="radioName3" hidden/>
    <label for="radioName3" class="radio-beauty"></label>
  </label>
</div>
</body>
</html>
